*{    
margin: 0;
padding: 0;
}

a{
    color: #fff;
    text-decoration: none;
    transition: 0.3s;
}
a:hover{
    opacity: 0.7;
}
.logo{
    font-size: 24px;
    text-transform: uppercase;
    letter-spacing: 4px;
}
nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background: #696969;
    height: 10vh;
}
body{
    background: url(imagens/academia.jpeg) repeat center center;
    background-size: cover;
    background-position: 100%;
    overflow-x: hidden;
}
.menu{
    list-style: none;
    display: flex;
}
.menu li{
    letter-spacing: 3px;
    margin-left: 32px;
}
.dropdown {
    position: relative;
    display: inline-block;
  }
  
.dropdown-content{
    list-style: none;
    display: none;
    position: absolute;
    background-color: #3d3030;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 12px 16px;
    z-index: 0;
  }
  
.dropdown:hover .dropdown-content{
    display: block;
  }

.mobile-menu{
    display: none;
    cursor: pointer;
}
.mobile-menu div{
    width: 32px;
    height: 2px;
    background: #fff;
    margin: 8px;
}


@media (max-width: 800px) {
    body {
      overflow-x: hidden;
    }
    .menu {
      position: absolute;
      top: 8vh;
      right: 0;
      width: 50vw;
      height: 90vh;
      background: #696969;
      flex-direction: column;
      align-items: center;
      justify-content: space-around;
      transform: translateX(100%);
      transition: transform 0.3s ease-in;
    }
    .menu li {
      margin-left: 0;
      opacity: 0;
    }
    .mobile-menu {
      display: block;
    }
  }
  
  .menu.active {
    transform: translateX(0);
  }
  
@keyframes navLinkFade {
    from {
      opacity: 0;
      transform: translateX(50px);
    }
    to {
      opacity: 1;
      transform: translateX(0);
    }
  }
  
  .mobile-menu.active .line1 {
    transform: rotate(-45deg) translate(-8px, 8px);
  }
  
  .mobile-menu.active .line2 {
    opacity: 0;
  }
  
  .mobile-menu.active .line3 {
    transform: rotate(45deg) translate(-5px, -7px);
  }
@media (max-width: 450px){

    .container{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        height: auto;
        margin: auto;
    }
    .container     img{
        max-width: 300px;
        margin: 10px;
    }
    .fontes{
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: center;
        height: 250px;
        width: 50%;
        margin: 50px auto;
        border: 5px solid #C0C0C0;
        background-color: #3d3030;
        color: #C0C0C0;
        padding: 10px;
    }
}

.container{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 50px 50px 50px 50px;
    border: 5px solid #C0C0C0;
    border-radius: 1%;
    background-color: #3d3030;
}
.titulo-bene{
    border-radius: 10%;
    color: #C0C0C0;
    background-color: #4F4F4F;
}
.beneficios{
    color: #C0C0C0;
}
.titulo-exercicios{
    display: flex;
    justify-content: center;
    color: #A9A9A9;
    font-size: 300%;
    margin: 0px 50px auto;
}
.titulo-exercicio{
    color: 	#D3D3D3;
    border-radius: 10%;
    background-color: #1C1C1C;
    font-size: 300%;
    margin: 10px 50px;
}
.exerc{
    color: #C0C0C0;
    display: flex;
    align-items: center;
    height: 100px;
    width: 100%;
    margin: 10px 50px;
    padding: 0;
    font-size: 130%;
}
img{
    max-width: 400px;
    max-height: 270px;
    margin: 25px auto;

}
.fontes{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    height: 150px;
    width: 50%;
    margin: 50px auto;
    border: 5px solid #C0C0C0;
    background-color: #3d3030;
    color: #C0C0C0;
    padding: 10px;
}
.fontes h1{
    display: flex;
    align-items: center;
    font-size: 150%;
    letter-spacing: 2px;
    background-color: #4F4F4F;
    border-radius: 10%;
    color: #C0C0C0;
}
.fontes p{
    color: #C0C0C0;
    display: flex;
    align-items: center;
    background-color: #4F4F4F;
    border-radius: 10%;
    padding: 0;
}

.fontes-links a{
    border-radius: 10%;
    color: #696969;
}
.container-formulario{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 80vh;
}
.formulario{
    display: flex;
    flex-direction: column;
    background-color: #696969;
    border-radius: 8px;
    width: 600px;
}
.formulario .titulo{
    padding: 24px 32px;
    font-size: 24px;
    border-bottom: thin solid #696969;
}
.formulario form{
    display: flex;
    align-items: start;
    flex-wrap: wrap;
    padding: 32px;
}
.formulario input{
    width: calc(50% - 8px);
    height: 48px;
    border-radius: 8px;
    border: thin solid #3d3030;
    padding-left: 16px;
    margin-bottom: 16px;
    font-size: 16px;
}
.formulario input:first-child{
    margin-right: 16px;
}
.formulario button{
    display: block;
    border: none;
    outline: none;
    width: 180px;
    height: 48px;
    border-radius: 8px;
    background-color: #1C1C1C;
    color: #A9A9A9;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
}
.formulario button:hover{
    background-color: #4F4F4F;
}
.rodape{
    position: fixed;
    bottom: 0;
    width: 100%;
    color: #C0C0C0;
    background: #696969;
    display: flex;
    justify-content: center;
    align-items: center;
}